env:
  global:
    - COMPOSE_PROJECT_NAME=example
    - RABBITMQ_USER=guest
    - RABBITMQ_PASS=guest
    - POSTGRES_DB=postgres
    - POSTGRES_USER=user
    - POSTGRES_PASSWORD=pass
    - CHANNEL_LIST=my-channel,my-delayed-channel
    - POSTGRES_URL=postgres://user:pass@postgresql/postgres?sslmode=disable
    - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    - DEFAULT_EXCHANGE_NAME=default
    - DELAY_EXCHANGE_NAME=delay

before_install:

  - sudo apt-get update

  - sudo apt-get install apt-transport-https ca-certificates curl software-properties-common

  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -

  - sudo apt-key fingerprint 0EBFCD88

  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"

  - sudo curl -L https://github.com/docker/compose/releases/download/1.17.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose

  - sudo chmod +x /usr/local/bin/docker-compose

  - docker-compose --version

  - cd example

  - run.sh

  - test.sh